body	{font-family: Sans Serif, Verdana, Garamond; font-size: 11pt;}

li.navlist		{display: inline; list-style-type:none;}

.boldowrd		{font-weight: bolder;}

a 						{text-decoration: none; color: black;}
	
a:hover			{background: black; color: #fffff66;}
	
div.content		{margin-left: 40px; margin-right: 40px; top: 68px;}

div.audio		{tex-align: center;}

div.movie		text-align: center;}